# Autotools specifics
*.o
Makefile
Makefile.in
.dirstamp
.deps/
stamp-h1
**/build-aux/

# CMake/Ninja specifics
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
compile_commands.json
install_manifest.txt
CMakeUserPresets.json
_deps/
.ninja_*
.ninja_deps
.ninja_log
build.ninja
rules.ninja
build-cmake-*/
cmake-build-*/
lib/
*.a
vendor_include/
