menu "p44utils"

config P44UTILS_ENABLE_LEDCHAIN
    bool "Enable WS28xx ledchain support"
    help
        This enables the LedChain support in p44utils.

config P44UTILS_DIGITAL_LED_LIB
    bool "Use esp32_digital_led_lib instead of esp32_ws281x"
    depends on P44UTILS_ENABLE_LEDCHAIN
    help
        Use the newer but more complex esp32_digital_led_lib

config P44UTILS_ENABLE_JSON
    bool "Enable JSON support"
    help
        This enables the JSON support in p44utils.

config P44UTILS_ENABLE_P44SCRIPT
    bool "Enable p44script support"
    help
        This enables p44script scripting engine in p44utils.

config P44UTILS_ENABLE_P44LRGRAPHICS
    bool "Enable p44lrgraphics support"
    help
        This enables lrgraphics support

endmenu
